version: '2'

services:
  zfswatcher:
    image: pectojin/zfswatcher:latest
    build: .
    volumes:
      - /etc/zfswatcher:/zfswatcher_config:rw
      - /var/log/zfswatcher/zfswatcher.log:/var/log/zfswatcher/zfswatcher.log:rw
      - /dev/log:/dev/log:rw
    ports:
      - 8990:8990
    devices:
      - /dev/zfs:/dev/zfs:rw
    restart: always
